* {
   
}
body {
    background-color: #ff7212;

}

header {
    text-align: center;
    height: 100px;
    background-color: #0e1113;
    color: #fff;

}
.container {
    
}

.card {
   margin: 15px;
   border: 5px solid;
   border-color: #fff;
}
.card-body {
    height: 230px;
}
#card-1 {
    background-color: #06dc7e;
}
#card-2 {
    background-color: #ecc233;
}
#card-3 {
    background-color: #127959;
}
#card-4 {
    background-color: #e57be5;
}
#card-5 {
    background-color: #23ad77;
}
#card-6 {
    background-color: #ff8c63;
}
#card-7 {
    background-color: #e9365b;
}
#card-8 {
    background-color: #eedd6f;
}
#card-9 {
    background-color: #003861;
    color: #fff;
}
#card-10 {
    background-color: #ff8dc0;
}
#card-11 {
    background-color: #a9b2bb;
}
#card-12 {
    background-color: #1f1e20;
    color: #fff;
}
footer {
    text-align: center;
    height: 100px;
    background-color: #0e1113;
    color: #fff;
}